<div ng-controller="configController">
	<div id="sideBar" ng-include="'Visualization/sideBar'"></div>

	<div id="visualization" ng-repeat="pages in include track by $index" ng-show="pages.Current">
		<div id="boxAll">
			<ng-include class="box" ng-repeat="page in pages track by $index" id="{{page.id}}" src="page.VisualizationType" ng-init="init=page"></ng-include>
		</div>
	</div>
</div>