<div ng-controller="d3BarController" >
  <div id="d3bar" class="d3bar bar" d3-bar-directive chart-data="data" ng-init="init('localhost','9001','Aggregation','AllActivePower','Test Heading','-100','100')"></div>
</div>	