<div class="controllerGauge" ng-controller="d3GaugeController" >
  <div id="d3gauge" class="d3gauge gauge" d3-gauge-directive chart-data="data"></div>
</div>	
<div class="controllerGauge" ng-controller="d3GaugeController" >
  <div id="d3gauge" class="d3gauge gauge" d3-gauge-directive chart-data="data"></div>
</div>	