<div class="controllerGauge" ng-controller="d3GaugeController" >
  <div class="d3gauge gauge" d3-gauge-directive chart-data="data" ng-init="init('localhost','9001','Realtime','getActivePower','Test1',-1,1,'avg')"></div>
</div>	
<div class="controllerGauge" ng-controller="d3GaugeController" >
  <div class="d3gauge gauge" d3-gauge-directive chart-data="data" ng-init="init('localhost','9001','Realtime','getActivePower','Test2',-2,2,'act')"></div>
</div>