<div class="controllerGauge" ng-controller="d3GaugeController">
  <div class="d3gauge gauge" d3-gauge-directive chart-data="data" ng-init="initialize(0)"></div>
</div>	
<div class="controllerGauge" ng-controller="d3GaugeController">
  <div class="d3gauge gauge" d3-gauge-directive chart-data="data" ng-init="initialize(1)"></div>
</div>