<div ng-controller="d3GraphController" >
  <div id="d3graph" class="d3chart graph" d3-graph-directive chart-data="data" ng-init="init('localhost','9001','Aggregation','AvgActivePower','Test Heading',10,-2,2)"></div>
</div>