<div ng-controller="sideBarController" >
	<div>Name</div>
	<img src="http://www.minus78.de/blog/wp-content/uploads/2010/11/alternative-facebook-avatare3.jpg" width="100%">
	<svg id="status" width="75%" height="25">
		<circle cx="12.5" cy="12.5" r="10" stroke="black" stroke-width="1" fill="red" />
		<text x="25" y="18">Offline</text>
	</svg>
	<div id="messages"></div>
</div>	