<div ng-controller="unitController" >
  <div id="unit" class="unit unit" ng-init="initialize()">
        <p>
      {{Der.Interface}} - {{Der.Hostname}} : {{Der.Port}}<br>
      <img class="derImg" src="http://{{dataHost}}:{{dataPort}}/api/Image/Get/{{Der.Interface}}">
      <div class="interfaces">
        <div ng-repeat="app in Der.Apps" class="status">
          <div class="state green" ng-if="app.Status" fill="green" ></div>
          <div class="state red" ng-if="!app.Status" fill="red" ></div>
          <div class="statetext">{{app.Name}}</div>
        </div>
      </div>
      <!--<svg ng-repeat="app in Der.Apps" id="status" height="15%">
          <circle ng-if="app.Status" cx="50%" cy="50%" r="50%" stroke="black" stroke-width="1" fill="green" />
          <circle ng-if="!app.Status" cx="5%" cy="50%" r="4%" stroke="black" stroke-width="1" fill="red" />
          <text x="10%" y="63%" font-size="12px">{{app.Name}}</text>
      </svg>-->
        </p>
  </div>
</div>	