
html{
	height: 95%;
}

body{
	height: 100%;
	width: 90%;
	margin: 0 auto;
}
div{
	width: 100%;
	height: 100%;
}
ng-include{
	width: 100%;
	height: 100%;
}
svg{
	display: block;
  	margin: auto;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

#visualization
{
	height: 100%;
	width:75%;
	float: left;
	margin: 1%;
}

#sideBar
{
	height: 100%;
	width:20%;
	float: left;
	margin: 1%;
	border: 1px solid black;
    position: relative;
}

#messages{
	width: 98%;
	height: 33%;
	margin: 5% 1% 1% 1%;
	background-color: black;
	position: absolute;
	bottom: 0px;
}

#boxAll{
	height: 100%;
	position:relative;
}

.box{
	width: 48%;
	height: 29%;
	float: left;
	margin: 1%;
}

#box1, #box3, #box5{
	float: left;
}
#box2, #box4, #box6{
	float: right;
}
#boxBottom{
	background-color: black;
	width: 100%;
	height: 5%;
	position:absolute; 
	bottom:0;
}

.controllerGauge{
	width: 50%;
	float: left;
﻿}

.bar.positive {
  fill: steelblue;
}

.bar.negative {
  fill: brown;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.derImg {
width: 30%;
display: block;
margin-left: auto;
margin-right: auto;
}