<!DOCTYPE html>
<html ng-app="VisualizeApp">
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="../../Content/Site.css">
</head>
<body>
	@RenderBody()
</body>
</html>

