
<div id="sideBar" ng-include="'Visualization/sideBar'"></div>

<div id="visualization">
	<div id="boxAll">
		<div id="box1" class="box" ng-include="'Visualization/d3Gauge'"></div>
		<div id="box2" class="box" ng-include="'Visualization/d3Pie'"></div>
		<div id="box3" class="box" ng-include="'Visualization/d3Gauge'"></div>
		<div id="box4" class="box" ng-include="'Visualization/d3Graph'"></div>
		<div id="box5" class="box" ng-include="'Visualization/d3Gauge'"></div>
		<div id="box6" class="box" ng-include="'Visualization/d3Bar'"></div>
		<div id="boxBottom"></div>
	</div>
</div>

<script src="../../Scripts/Libraries/angular-1.3.1/angular.min.js"></script>
<script src="../../Scripts/Libraries/angular-1.3.1/angular-route.min.js"></script>

<script src="../../Scripts/Libraries/jquery-1.11.2.min.js"></script>

<script src="../../Scripts/Libraries/d3/d3.min.js"></script>

<script type="text/javascript" src="../../Scripts/app.js"></script>
<script type="text/javascript" src="../../Scripts/Services/AppService.js"></script>

<script type="text/javascript" src="../../Scripts/Controllers/d3GraphController.js"></script>
<script type="text/javascript" src="../../Scripts/Controllers/d3GaugeController.js"></script>
<script type="text/javascript" src="../../Scripts/Controllers/d3PieController.js"></script>
<script type="text/javascript" src="../../Scripts/Controllers/d3BarController.js"></script>
<script type="text/javascript" src="../../Scripts/Controllers/sideBarController.js"></script>

<script type="text/javascript" src="../../Scripts/Directives/d3GraphDirective.js"></script>
<script type="text/javascript" src="../../Scripts/Directives/d3GaugeDirective.js"></script>
<script type="text/javascript" src="../../Scripts/Directives/d3PieDirective.js"></script>
<script type="text/javascript" src="../../Scripts/Directives/d3BarDirective.js"></script>

