<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<div id="visualization">
    <div ng-include="'Visualization/Gauge'"></div>
    <div ng-include="'Visualization/Graph'"></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="../../Scripts/Visualization/Gauge.js"></script>
<script type="text/javascript" src="../../Scripts/Visualization/Graph.js"></script>
<script type="text/javascript" src="../../Scripts/Controllers/GraphController.js"></script>
<script type="text/javascript" src="../../Scripts/Controllers/GaugeController.js"></script>
<script type="text/javascript" src="../../Scripts/app.js"></script>